<!DOCTYPE html>
<html>
  <head>
    <title>Tronode.js</title>

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link  rel="shortcut icon" href="/images/favicon.ico">
    <script src="/javascripts/socket.io.min.js"></script>
    <script src="/javascripts/BotSocket.js"></script>
    <script src="/javascripts/BotSocketClient.js"></script>
    <script src="/javascripts/ejs.js"></script>
    <script src="/javascripts/bike.js"></script>
    <script src="/javascripts/client.js"></script>
  </head>
  <body>
    <h1>Tronode.js</h1>
    <h2>Do your best to stay alive as long as you can</h2>
    <em>Use arrow keys or A and D</em>


    <div class="join-container" id="join-container">
      <input id="join-name" type="text" placeholder="Your name" class="join-name">
      <button id="join-btn" class="join-btn">Join the battle</button>
    </div>


      <div id="bike-example" class="bike-example" style="display: none"><span id="bike-example-name"></span>, your color is <span class="bike-trail"></span></div>

<div class="game-wrapper">
    <div class="game" id="game-container"></div>
</div>


      <div id="endgame-container" style="display: none;">
        <strong id="winner-name"></strong> is winner with <strong id="winner-time"></strong> sec.
      </div>

    <p>
      The game restarts every 5 seconds.
    </p>


    <div class="join-room-container">
      <div>If you want to play with your friends, create your own room.</div>

      <ul id="rooms" class="rooms-list">
    </ul>
    <script type="template" id="room-tpl">
       <h3>Rooms: </h3>
      <% for(var i in rooms) {%>
      <li class="<% if (myRoomId === rooms[i].id) { %> room-option-checked <% } %>"><label><input type="radio" name="room" class="room-option"  value="<%= rooms[i].id %>">  <%= rooms[i].name %> (<%=rooms[i].socketsNum%>)</label></li>
      <% } %>
    </script>

      <button id="join-room-btn" class="join-room-btn">Join chosen room</button>
      <span id="create-room-container">
        OR create <input id="join-room-name" type="text" placeholder="Name of your room">
        <button id="create-room-btn">Create room</button>
      </span>

      <p style="display: none">
        <button id="create-bot-test-room-btn">Create room for test your own bot</button>
      </p>
    </div>


  </body>
</html>