<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/socket.io.min.js"></script>
    <script src="/javascripts/bike.js"></script>
    <script src="/javascripts/client.js"></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div class="game" id="game-container"></div>
    <div class="join-container">
      <input id="join-name" type="text" placeholder="Your name" class="join-name">
      <button id="join-btn" class="join-btn">Join</button>
      <div id="bike-example" class="bike-example" style="display: none">Your color is <span class="bike-trail"></span></div>
    </div>
  </body>
</html>