body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
.game {
  height: 600px;
  width: 800px;
  background: #eee;
  border: 1px solid #000;
}
.game .bike {
  position: relative;
}
.game .bike .bike-trail {
  position: absolute;
}
.bike-1 .bike-trail {
  background-color: #f00;
  box-shadow: 0 0 2px #f00;
}
.bike-2 .bike-trail {
  background-color: #0f0;
  box-shadow: 0 0 2px #0f0;
}
.bike-3 .bike-trail {
  background-color: #00f;
  box-shadow: 0 0 2px #00f;
}
.bike-4 .bike-trail {
  background-color: #0ff;
  box-shadow: 0 0 2px #0ff;
}
.bike-5 .bike-trail {
  background-color: #f0f;
  box-shadow: 0 0 2px #f0f;
}
.bike-6 .bike-trail {
  background-color: #ff0;
  box-shadow: 0 0 2px #ff0;
}
.game .bike .bike-head {
  position: absolute;
  z-index: 10;
  width: 5px;
  height: 5px;
  border: 1px solid #000;
  box-shadow: 0 0 4px #000;
}
.game .bike .bike-name {
  width: 60px;
  height: 12px;
  font-size: 10px;
  overflow: hidden;
  position: relative;
  top: 4px;
}
#bike-example .bike-trail {
  width: 30px;
  height: 5px;
  display: inline-block;
}
.join-container {
  margin: 10px 0;
}
.join-room-container {
  margin: 12px 0;
  border: 1px solid #000;
  width: 560px;
  padding: 16px;
  overflow: hidden;
}
.join-room-container .room-option-checked {
  font-weight: bold;
}
