body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
.game {
  height: 600px;
  width: 800px;
  background: #eee;
  border: 1px solid #000;
}
.game .bike {
  position: relative;
}
.game .bike .bike-trail {
  position: absolute;
}
.game .bike-1 .bike-trail {
  background-color: #f00;
}
.game .bike-2 .bike-trail {
  background-color: #0f0;
}
.game .bike-3 .bike-trail {
  background-color: #00f;
}
.game .bike .bike-head {
  position: absolute;
  z-index: 10;
  width: 5px;
  height: 5px;
  border: 1px solid #000;
}
