body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
  color: #00B7FF
.game
  height: 600px
  width: 800px
  background: #eee
  border: 1px solid black

.game .bike
  position: relative
.game .bike .bike-trail
  position: absolute
.game .bike-1 .bike-trail
  background-color: #f00;
